.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 180px;
}

.product-item {
  margin: 15px;
  padding: 50px;
  text-align: center;
}

#product-name {
  font-family: "Times New Roman", Times, serif;
}

.image {
  box-shadow: 2px 2px 2px 2px #05050595;
}

button {
  padding: 9px;
  color: black;
  background-color: rgb(244, 225, 216);
  border: none;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
